.selection-select-field  {
    width: 100%;
    padding: 1vh 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .select-input {
        width: calc(100% - 2vw);
        padding: 1vh 1vw;
        min-height: 30px;
        
        .label {
            font-size: 13px;
            margin-left: 1vw;
            margin-bottom: 1vh;
        }

        .list {
            width: 100%;
            border: 1px solid #000;
            border-radius: 
            var(--app-border);
            display: flex;
            flex-direction: row;
            
            .select-click {
                display: flex;
                justify-content: center;
                align-items: center;
                height: calc(30px + 2vh);
                width: calc(20px + 2vw);
                background-color: #ecf0f1;
                border-top-left-radius: var(--app-border);
                border-bottom-left-radius: var(--app-border);
                cursor: pointer;
    
                svg > path {
                    stroke: white;
                }
            }
    
            .select-values {
                flex: 1;
                display: flex;
                overflow: auto;
                width: 100%;
                height: calc(30px + 2vh);
                align-items: center;
    
                .select-value {
                    background-color: #ecf0f1;
                    margin: 0px 5px;
                    height: 35px;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
    
                    .select-value-action {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 20px;
                        height: 30px;
                        border-right: 1px solid #fff;
                    }
                    .select-value-data {
                        width: auto;
                        padding: 0vh 0.5vw;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        font-size: 12px;
                    }
                }
            }
        }

    }

    .select-input.error {
        border: 1px solid #FF0000;

        .label {
            color: #FF0000;
        }

        .select-click {
            background-color: #c49c9c;
        }
    }

    .option-input {
        border: 1px solid #000;
        width: calc(100% - 2vw - 2px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .option-search {
            padding: 1vh 1vw;
            width: 90%;
        }
        
        .options {
            padding: 1vh 3vw;
            width: calc(100% - 6vw);
            max-height: 300px;
            overflow-y: auto;

            .option {
                padding: 1vh 1vw;
                width: calc(100% - 2vw);
                min-height: 30px;
                cursor: pointer;
                line-height: 30px;
            }
            .option:hover {
                background-color: #ecf0f1;
            }
            .option.unset {
                cursor: not-allowed;
            }
        }
    }
}