.selection-file-field {
    width: 100%;
    padding: 1vh 0vw;

    .file-input {
        position: relative;
        width: 100%;
        min-height: calc(30px + 2vh);
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;

        .label {
            position: absolute;
            font-size: 16px;
            transition: ease;
            transition-duration: 0.5s;
        }
    
        .label.top {
            background-color: #fff;
            padding: 0vh 0.5vw;
            top: calc(0% - 5px);
            font-size: 10px;
            left: 2%;
        }
    
        .label.center {
            top: 38%;
            left: calc(30px + 2vw);
        }

        .svg-click {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(30px + 2vh);
            width: calc(20px + 2vw);
            background-color: #ecf0f1;
            border-top-left-radius: var(--app-border);
            border-bottom-left-radius: var(--app-border);
            cursor: pointer;

            svg > path {
                stroke: white;
            }
        }
            
        .svg-click:hover {
            svg > path {
                stroke: #95a5a6;
            }
        }

        input {
            visibility: hidden;
        }

        .files {
            flex: 1;
            display: flex;
            overflow: auto;
            width: 100%;
            height: calc(30px + 2vh);
            align-items: center;
            
            .file.success {
                background-color: #ecf0f1;
            }

            .file.error {
                background-color: #d35400;
            }

            .file {
                margin: 0px 5px;
                height: 35px;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
 
                .file-action {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 20px;
                    height: 30px;
                    border-right: 1px solid #fff;
                }

                .file-action:hover {
                    svg > path {
                        stroke: #c2cecf;
                    }
                }

                .file-info {
                    width: auto;
                    padding: 0vh 0.5vw;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;

                    div:nth-child(1) {
                        color: #505050;
                        font-size: 12px;
                        white-space: nowrap;
                    }
                    div:nth-child(2) {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}