.application-common {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    .application-menu {
        width: calc(100% - 2vw);
        height: 40px;
        padding: 1vh 1vw;
        background-color: #323232;

        .menu-icon {
            padding: 5px;
            cursor: pointer;

            svg > path {
                stroke: #fff;
            }

            svg:hover > path {
                stroke: #ddd;
            }
        }

        .menu-icon:hover {
            background-color: #585858;
        }
    }

    .menu-options {
        position: fixed;
        z-index: 5;
        top: calc(40px + 2vh);
        right: 0;
        height: calc(100% - 2vh - 2px);
        background-color: #323232;

        .option-search {
            width: calc(100% - 4vw);
            margin: 0vh 1vw;
            padding: 1vh 1vw;
            border-bottom: 1px solid #585858;
        }

        .option-group {
            width: calc(100% - 4vw);
            margin: 0.5vh 1vw;
            padding: 1vh 1vw;
            background-color: #585858;
            overflow-y: auto;

            .group-info {
                span {
                    color: #fff;
                }

                svg {
                    g {
                        path {
                            stroke: #fff; 
                        }
                    }
                }
            }

            .group-options {
                margin: 1vh 1vw;
                width: calc(100% - 4vw);
                padding: 1vh 1vw;
                background-color: #323232;
                
                div {
                    width: calc(100% - 2vw);
                    padding: 1vh 1vw;
                    cursor: pointer;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }

                div:hover {
                    background-color: #585858;
                }
            }
        }
    }

    .application-content {
        width: 100%;
        height: calc(100% - 2vh - 40px);
        background-color: #585858;
    }
}

@media screen and (max-width: 600px) {
    .application-common {
        .menu-options{
            width: calc(100% - 2vw);
            padding: 1vh 1vw;
        }
    }
}

@media screen and (min-width: 600px) {
    .application-common {
        .menu-options{
            width: calc(450x - 2vw);
            border-left: 1px solid #585858;
            border-top: 1px solid #585858;
            border-bottom: 1px solid #585858;
        }
    }
}