html, body, #app, .main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    background-color: #323232;
}

::-webkit-scrollbar             { width: 10px; }
::-webkit-scrollbar-track       { background: #f1f1f1; }
::-webkit-scrollbar-thumb       { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.field-input-group {
    
}

.field-m1 {
    width: calc(100% - 4%);
    padding: 2%;

    .field-m1-content {
        position: relative;
        border: 1px solid #aaa;
        border-radius: 3px;

        .field-m1-label {
            position: absolute;
        }

        .field-m1-label.center {
            top: 24%;
            left: 3%;
        }

        .field-m1-label.top {
            top: -17%;
            left: 2%;
            font-size: 10px;
            background-color: #fff;
            padding: 0% 1%;
            transition: ease 0.5s;
        }

        .field-m1-input {
            width: calc(100% - 4%);
            padding: 2%;

            input {
                border: none;
                width: 100%;
                outline: 0;
            }
        }
    }

}

.field-m2 {
    width: calc(100% - 4%);
    padding: 2%;

    .field-m2-content {
        position: relative;
        border: 1px solid #aaa;
        border-radius: 3px;
    
        .field-m2-label {
            position: absolute;
        }
    
        .field-m2-label.center {
            top: 24%;
            left: 3%;
        }
    
        .field-m2-label.top {
            top: -17%;
            left: 2%;
            font-size: 10px;
            background-color: #fff;
            padding: 0% 1%;
            transition: ease 0.5s;
        }
    
        .field-m2-values {
            width: calc(100% - 4%);
            padding: 2%;
            cursor: pointer;

            .field-m2-selected {

            }

            .field-m2-select {
                width: calc(100% - 4%);
                padding: 2%;
            }
        }
    }
}

.field-selected {
    width: 100%;
    min-height: 18.34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}