.ui-m1-field {
    margin-top: 2px;
    margin-bottom: 2px;
}
.ui-m2-field {
    margin-top: 2px;
    margin-bottom: 2px;
}
.ui-m1-label { 
    position: absolute;
    transition: ease 0.5s;
}
.ui-m1-label.ui-m1-label-center {
    top: 5px;
    left: 6px;
    font-size: 14px;
}
.ui-m1-label.ui-m1-label-top {
    top: -4px;
    left: 2px;
    font-size: 8px;
}
.ui-m2-label { 
    position: absolute;
    transition: ease 0.5s;
}
.ui-m2-label.ui-m2-label-center {
    top: 5px;
    left: 6px;
    font-size: 14px;
}
.ui-m2-label.ui-m2-label-top {
    top: -4px;
    left: 2px;
    font-size: 8px;
}
.ui-m1-field-error {
    margin: 5px 15px;

    span {
        display: list-item;
        list-style-type: circle;
        font-size: 8px;
        color: red;
    }
}

.ui-m1-field-input {
    border-bottom: 1px solid #aaa;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    input {
        outline: 0;
        font-size: 14px;
        position: static;
        width: calc(100% - 10px);
        padding: 5px;
        border: none;
        background-color: var(--color-white);
    }
}

.ui-m2-field-input {
    border-bottom: 1px solid #aaa;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    .ui-m2-field-values {
        padding: 5px;
        width: calc(100% - 10px);
        min-height: 16px;
    }
}

.ui-m1-field-input.ui-m1-field-input-icon {
    input { width: calc(100% - 30px); }
}