.filter-page {
    width: 100%;
    height: 100%;

    .filters {
        width: calc(100% - 220px);
        height: 100%;
    }

    .actions {
        width: 218px;
        border-left: 2px solid #585858;
        height: 100%;
    }
}