.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-content {
        width: 350px;
        min-height: 75px;
        background-color: #fff;

        .first-page {
            padding: 4%;
            width: calc(100% - 8%);
            height: calc(100% - 8%);

            .login-content-header {
                display: flex;
                justify-content: center;
                align-items: start;
                width: 100%;
                height: 30px;
                border-bottom: 1px solid #aaa;
            }

            .login-content-fields {
                width: calc(100% - 4%);
                padding: 2%;
            }

            .login-content-actions {
                display: flex;
                padding: 2%;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: calc(30px - 4%);
                border-top: 1px solid #aaa;

                button {
                    padding: 5px 10px;
                    cursor: pointer;
                    color: #aaa;
                    border: none;
                    background-color: rgba(0,0,0,0);
                }

                button:hover {
                    color: #000;
                }

                button:disabled,
                button[disabled] {
                    cursor: not-allowed;
                    color: #eee;
                }
            }
        }
    }
}