.inputs-field {
    width: calc(100% - 2vw);
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;

    .input-field {
        width: 100%;

        .label {
            font-size: 13px;
            margin-left: 1vw;
            margin-bottom: 1vh;
        }
    }

    
    .error-messages {
        margin-top: 0.5vh;
        color: #ff0000;
        font-size: 9px;
    }
}

.error {
    .input-border {
        border: 1px solid #ff0000;
        border-radius: var(--app-border);
    }
    .label { color: #ff0505; }
    .input {
        input {
            color: #ff0000;
        }
        svg > path { stroke: #ff0000; fill: #ff0000; }
    }
}

.input-border {
    border: 1px solid #000;
    border-radius: var(--app-border);
}

.input {
    position: relative;
    width: 100%;

    input {
        padding: 1vh 1vw;
        border: none;
        width: calc(100% - 2vw - 2px) !important;
        border-radius: var(--app-border);
        height: 30px;
        outline: 0;
    }

    svg {
        position: absolute;
        top: 30%;
        right: 25px;
        cursor: pointer;
    }

    svg:hover {
        opacity: 0.8;
    }
}