SecurityJwtSecret='[BASE64]'
SecurityJwtIssuer=[localhost:80]
SecurityJwtAudience=[string, ...]

ConnectionsDatabaseAuthenticationdatabaseConnectionstring='Server=database;Port=3306;User=[USER];Pwd=[PWD];Database=[DBNAME];'
ConnectionsDatabaseAuthenticationdatabaseTimeout=22000

ConnectionsDatabaseAuthorizationdatabaseConnectionstring='Server=database;Port=3306;User=[USER];Pwd=[PWD];Database=[DBNAME];'
ConnectionsDatabaseAuthorizationdatabaseTimeout=22000

ConnectionsDatabaseAuthenticateDatabaseConnectionString='Server=database;Port=3306;User=[USER];Pwd=[PWD];Database=[DBNAME];'
ConnectionsDatabaseAuthenticateDatabaseTimeout=22000

ConnectionsDatabasePersonalDatabaseConnectionString='Server=database;Port=3306;User=[USER];Pwd=[PWD];Database=[DBNAME];'
ConnectionsDatabasePersonalDatabaseTimeout=22000

ServiceUser=[USER]
ServicePassword=[PWD]
ServiceHost=[HOST]
ServicePort=[PORT]